.brandLogo {
	margin-right: 2;
	flex-grow: 1;
	font-family: monospace;
	font-weight: 700;
	letter-spacing: 0.3rem;
	color: inherit;
	text-decoration: none;
}

.menuLink {
	text-decoration: none;
}
